<ion-header>
  <ion-toolbar class="header-toolbar">
    <div class="header-title">
      <ion-icon name="settings-outline"></ion-icon>
      <span>Device List</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list #devicelist>
    <ion-item-sliding (ionDrag)="slideDrag($event)">
      <ion-item>
        <ion-label class="device-label" color="primary"
          >Bar Sign
          <div *ngIf="sliderFullyOpened" class="wrapper">
            <svg
              width="18px"
              height="17px"
              viewBox="0 0 18 17"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <g
                id="prev"
                transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)"
              >
                <polygon
                  class="arrow"
                  points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"
                ></polygon>
                <polygon
                  class="arrow-fixed"
                  points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"
                ></polygon>
                <path
                  d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"
                ></path>
              </g>
            </svg>
          </div>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="editCallback()" class="optionEdit"
          >Edit</ion-item-option
        >
        <ion-item-option (click)="deleteCallback()" class="optionDelete"
          >Delete</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-back-button
      class="footerBtn"
      defaultHref="home"
      slot="start"
      fill="clear"
      text="back"
      icon="return-down-back-outline"
    >
    </ion-back-button>
    <ion-button class="footerBtn" slot="end" fill="clear"
      >save
      <ion-icon slot="icon-only" name="save-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
