<ion-header>
  <ion-toolbar class="header-toolbar">
    <div class="header-title">
      <ion-icon name="settings-outline"></ion-icon>
      <span>Settings</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content> </ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-back-button
      class="footerBtn"
      defaultHref="home"
      slot="start"
      fill="clear"
      text="back"
      icon="return-down-back-outline"
    >
    </ion-back-button>
    <ion-button class="footerBtn" slot="end" fill="clear"
      >save
      <ion-icon slot="icon-only" name="save-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
