<ion-header>
  <ion-toolbar class="header-toolbar">
    <div class="header-title">
      <ion-icon name="settings-outline"></ion-icon>
      <span>Settings</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="device-input">
    <form class="contact" [formGroup]="formDevice" (ngSubmit)="submit()">
        
        <ion-input                    
          type="hidden"
          value="Disabled"
          required          
          formControlName="id"          
        ></ion-input>
      
      <ion-item>
        <ion-label class="input-label" color="primary" position="fixed"
          >Device name:</ion-label
        >
        <ion-input
          required
          [ngClass]="inputSelected['name'] ? 'inputHighlight' : ' ' "
          (ionFocus)="inputColorChange('name',true)"
          (ionBlur)="inputColorChange('name',false)"
          placeholder="Bedroom"
          formControlName="name"          
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="input-label" color="primary" position="fixed"
          >Device type:</ion-label
        >
        <ion-select
          [ngStyle]="{'background-color':inputSelected['type'] ? '#555' : '' }"
          (ionFocus)="inputColorChange('type',true)"
          (ionBlur)="inputColorChange('type',false)"
          required
          formControlName="type"
          placeholder="Select"
          okText="OK"
          cancelText="cancel"
        >
          <ion-select-option value="tcp">TCP</ion-select-option>
          <ion-select-option value="udp">UDP</ion-select-option>
          <ion-select-option value="http">HTTP</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="input-label" color="primary" position="fixed"
          >Host:</ion-label
        >
        <ion-input
          [ngClass]="inputSelected['host'] ? 'inputHighlight' : ' ' "
          (ionFocus)="inputColorChange('host',true)"
          (ionBlur)="inputColorChange('host',false)"
          formControlName="host"
          required
          placeholder="192.168.1.10"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="input-label" color="primary" position="fixed"
          >Port:</ion-label
        >
        <ion-input
          [ngClass]="inputSelected['port'] ? 'inputHighlight' : ' ' "
          (ionFocus)="inputColorChange('port',true)"
          (ionBlur)="inputColorChange('port',false)"
          formControlName="port"
          required
          placeholder="4210"
        ></ion-input>
      </ion-item>

    <ion-item>
      <ion-label class="input-label" color="primary" position="fixed">Supports colors</ion-label>
      <ion-toggle 
        required 
        formControlName="supportscolors">
      </ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label class="input-label" color="primary" position="fixed">Supports brightness</ion-label>
      <ion-toggle 
        required 
        formControlName="supportsbrightness">
      </ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label class="input-label" color="primary" position="fixed">Custom on/off</ion-label>
      <ion-toggle 
        required 
        (ionChange)="customonoffChange()"
        formControlName="customonoff">
      </ion-toggle>
    </ion-item>

    <ion-item *ngIf="formDevice.controls.customonoff.value">
      <ion-label class="input-label" color="primary" position="fixed">"On" Cmd</ion-label>
      <ion-input
        [ngClass]="inputSelected['oncmd'] ? 'inputHighlight' : ' ' "
        (ionFocus)="inputColorChange('oncmd',true)"
        (ionBlur)="inputColorChange('oncmd',false)"
        formControlName="oncmd"
        required
        placeholder="open"
      ></ion-input>
    </ion-item>

    <ion-item *ngIf="formDevice.controls.customonoff.value">
      <ion-label class="input-label" color="primary" position="fixed">"Off" Cmd</ion-label>
      <ion-input
        [ngClass]="inputSelected['offcmd'] ? 'inputHighlight' : ' ' "
        (ionFocus)="inputColorChange('offcmd',true)"
        (ionBlur)="inputColorChange('offcmd',false)"
        formControlName="offcmd"
        required
        placeholder="close"
      ></ion-input>
    </ion-item>

    </form>
  </div>

  <p *ngIf="!formDevice.valid && submitted" class="requiredMsg ion-text-center">
    All fields are required
  </p>
</ion-content>

<!-- **************** Footer ************** -->

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-back-button
      class="footerBtn"
      defaultHref="home"
      slot="start"
      fill="clear"
      text="back"
      icon="return-down-back-outline"
    >
    </ion-back-button>
    <ion-button
      type="submit"
      class="footerBtn"
      slot="end"
      fill="clear"
      (click)="submit()"
      >save
      <ion-icon slot="icon-only" name="save-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
