.header-toolbar {
  border-bottom: 2px solid var(--ion-color-primary);
  --background: #121212;
  ion-icon {
    color: var(--ion-color-primary);
    font-size: 27px;
  }
  .header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    span {
      font-size: 24px;
      font-weight: 400;
      color: var(--ion-color-primary);
      padding: 0 7px;
    }
  }
}
ion-toolbar {
  --background: #121212;
}
// *************** Input List **************** //
.device-input {
  margin-top: 22px;
  ion-item {
    --highlight-height: 0;
  }
  .input-label {
    min-width: 135px !important;
    font-size: 17px;
  }
  ion-input {
    --color: #fff705;
    --background: #312c2c;
    --placeholder-color: var(--ion-color-primary);
    --placeholder-opacity: 0.3;
  }
  ion-select {
    background: #312c2c;
    width: 100%;
    max-width: 100% !important;
    color: #fff705;
    --placeholder-color: var(--ion-color-primary);
  }
}
// *************** Footer **************** //
.footerBtn {
  font-size: 20px;
  color: var(--ion-color-primary);
  text-transform: lowercase;
  ion-icon {
    font-size: 20px;
    padding-right: 5px;
  }
}

.inputHighlight {
  --background: #555 !important;
}

.requiredMsg {
  color: var(--ion-color-danger);
}
