.colorpicker {
  margin: 15px 15px 10px 15px;
}

// ************* Toolbar Buttons ***************** //
.toolbarBtn {
  display: flex;
  justify-content: space-around;

  .headerIcons {
    transform: scale(1.4);
  }

  ion-button {
    font-size: 18px;
    font-weight: bolder;
  }
}
.glow {
  text-shadow: 0px 0px 5px #0ff50f;
  transition: all 1s ease-in-out;
}
// ************* Color Display & Info *************** //
.colorshow {
  width: 100%;
  height: 190px;
  background-color: hsl(0, 100%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;

  .colorshowinfo {
    //max-width: 55%;
    p {
      text-transform: uppercase;
      font-size: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin: auto;
      ion-button {
        padding-bottom: 4px;
      }
    }
  }
}
.colorContrastWhite {
  color: #fff;
  text-shadow: 1px 1px #333;
}

.colorContrastBlack {
  color: #333;
  text-shadow: 1px 1px #eee;
}

// *************** Slides ************** //
.colorcontrols {
  margin-top: 10px;
}

.rangecontrol {
  --pin-background: black;
  --knob-size: 30px;
  --knob-box-shadow: 0px 0px 5px 2px #999;
  --knob-background: white;
  --bar-background-active: none;
  --height: 30px;
  --bar-height: 18px;
  --bar-border-radius: 10px;
  //width: 90%;
}

.hcontrol {
  --bar-background: linear-gradient(
    to right,
    #f00 0%,
    #ff0 17%,
    #0f0 33%,
    #0ff 50%,
    #00f 67%,
    #f0f 83%,
    #f00 100%
  );
}

.scontrol {
  //--bar-background: linear-gradient(to left, rgb(244, 71, 37) 20%, rgb(128, 128, 128));
}

.lcontrol {
  //--bar-background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0), rgb(255, 255, 255));
}

// ************ Buttons styling *************** //

.presetEl {
  width: 100%;
  --background-activated: white;
  --box-shadow: 0px 1px 6px 0px #ccc;
  --background-activated-opacity: 0.5;
}

// ************ Buttons animation*************** //
.grow {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

// ************* Toggle ************** //

ion-toggle {
  --background: #4c4b4e;
  --background-checked: #75fc07;

  --handle-background: var(--ion-color-primary);
  --handle-background-checked: var(--ion-color-primary);

  height: 27px;
  width: 52px;
  --handle-height: 28px;
  --handle-width: 30px;
}

// ************* Toggle Label & Selector************** //
ion-list {
  padding: 3px auto;
}
.toggleLabel {
  --color: var(--ion-color-light);
  font-size: 1.1rem;
}
.selectorBtn {
  --color: var(--ion-color-light);
  ion-label {
    font-size: 1.1rem;
  }
  ion-select {
    font-size: 1.1rem;
  }
}
//************** Power Button **************//
.powerBtn {
  display: flex;
  justify-content: center;
  ion-button {
    font-size: 25px;
    height: auto;
  }
}

//************ Footer Buttons ***************//
ion-toolbar {
  --background: #121212;
  .settingsBtn {
    font-size: 19px;
  }
  .addBtn {
    font-size: 20px;
  }
}
