<ion-header [translucent]="true">
  <ion-toolbar
    color="linear-gradient(0deg, rgba(22,23,23,1) 0%, rgba(101,96,96,1) 62%, rgba(133,137,139,1) 100%);"
  >
    <div class="toolbarBtn">
      <ion-button
        fill="clear"
        (click)="deviceActiveToggle(i)"
        *ngFor="let device of appStore?.devices; let i=index;"
        [color]="(device.active) ? 'success' : 'light'"
      >
        <!-- <ion-icon
          class="headerIcons"
          [color]="(button.active) ? 'success' : 'dark'"
          [src]="button.icon"
          slot="icon-only"
        >
        </ion-icon> -->
        <span [ngClass]="device.active ? ' glow' : '' "
          >{{device.name}}</span
        >
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<!-- *************** Color Picker/Colorshow *********************** -->

<ion-content *ngIf="appStore" [fullscreen]="true">
  <div class="colorpicker">
    <div [ngStyle]="{'background-color':getCurrentHslCss()}" class="colorshow">
      <div
        [ngClass]="(contrastThreshold > 128)?'colorContrastBlack':'colorContrastWhite'"
        class="colorshowinfo"
      >
        <p>
          hex: #{{appStore.selectedColor.hex}}
          <ion-button fill="clear" slot="icon-only" (click)='colorInputAlert("hex")'>
            <ion-icon name="create-outline"></ion-icon
          ></ion-button>
        </p>
        <p>
          hsl: {{appStore.selectedColor.hsl.h}} - {{appStore.selectedColor.hsl.s}} -
          {{appStore.selectedColor.hsl.l}}
          <ion-button fill="clear" slot="icon-only" (click)='colorInputAlert("hsl")'>
            <ion-icon name="create-outline"></ion-icon
          ></ion-button>
        </p>
        <p>
          rgb: {{appStore.selectedColor.rgb.r}} - {{appStore.selectedColor.rgb.g}} -
          {{appStore.selectedColor.rgb.b}}
          <ion-button fill="clear" slot="icon-only" (click)='colorInputAlert("rgb")'>
            <ion-icon name="create-outline"></ion-icon
          ></ion-button>
        </p>
      </div>
    </div>

    <!-- *************** Color Controls hex,hsl,rgb  *********************** -->

    <div class="colorcontrols">
      <ion-range      
        class="hcontrol rangecontrol"
        (ionChange)="slideChange('h',$event)"
        (mouseup)="saveColor()"
        (touchend)="saveColor()"
        [value]="appStore.selectedColor.hsl.h"
        min="0"
        max="360"
        pin="true"
      ></ion-range>
      <ion-range
        [style.--bar-background]="getSaturationGradient()"
        (ionChange)="slideChange('s',$event)"
        (mouseup)="saveColor()"
        (touchend)="saveColor()"
        class="scontrol rangecontrol"
        min="0"
        max="100"
        [value]="appStore.selectedColor.hsl.s"
        pin="true"
      ></ion-range>
      <ion-range
        [style.--bar-background]="getLuminanceGradient()"
        (ionChange)="slideChange('l',$event)"
        (mouseup)="saveColor()"
        (touchend)="saveColor()"
        class="lcontrol rangecontrol"
        min="0"
        max="100"
        [value]="appStore.selectedColor.hsl.l"
        pin="true"
      ></ion-range>
    </div>

    <!-- *************** Preset Chunks *********************** -->

    <div>
      <ion-grid>
        <ion-row *ngFor="let presetRow of presetColorsChunks; let ri = index">
          <ion-col *ngFor="let preset of presetRow; let ci = index">
            <!-- <div class="presetEl" (click)="setPreset(preset)" [style.background]="getPreset(preset)" ></div> -->
            <ion-button
              [ngClass]="preset.buttonStatus ? ' grow' : ' ' "
              class="presetEl"
              (click)="setPreset(preset,ri,ci)"
              [style.--background]="getPreset(preset)"
            ></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- <color-block [colors]="presetColorsArr()" [color]="presetColors[0].hsl"></color-block> -->
  </div>

  <!-- *************** Night Mode Toggle & Mode Selector *********************** -->

  <!-- <ion-item>
    <ion-label class="toggleLabel">Night mode</ion-label>
    <ion-toggle
      [(ngModel)]="nightmode"
      (ionChange)="nightmodeChange()"
    ></ion-toggle>
  </ion-item> -->

  <ion-item class="selectorBtn">
    <ion-label>Color Mode</ion-label>
    <ion-select
      [(ngModel)]="mode"
      (ionChange)="modeChange()"
      value="basic"
      okText="OK"
      cancelText="cancel"
    >
      <ion-select-option *ngFor="let mode of modes;" value="{{mode.value}}">{{mode.name}}</ion-select-option>

      <!-- <ion-select-option value="night">Night</ion-select-option>
      <ion-select-option value="rainbow">Rainbow</ion-select-option>
      <ion-select-option value="morning">Morning</ion-select-option>
      <ion-select-option value="fireworks">Fireworks</ion-select-option>
      <ion-select-option value="disco">Disco</ion-select-option> -->
    </ion-select>
  </ion-item>

  <!-- *************** Power Button *********************** -->

  <div class="powerBtn">
    <ion-button fill="clear" size="large" (click)="powerToggle()">
      <ion-icon
        slot="icon-only"
        name="power"
        [color]="powerOn ? 'success' : 'danger'"
      ></ion-icon>
    </ion-button>
  </div>

</ion-content>
<!-- ****************** Footer *********************** -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button
      routerLink="/device-list"
      class="footerBtn settingsBtn"
      slot="start"
      fill="clear"
    >
      <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
    </ion-button>
    <ion-button
      routerLink="/device-settings/new"
      class="footerBtn addBtn"
      slot="end"
      fill="clear"
    >
      <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
